VITE_FIREBASE_API_KEY="AIzaSyDkQJPOIOWXmyhE783ADWz8Ljw0gydICZI"
VITE_FIREBASE_AUTH_DOMAIN="ai-nurse-c6346.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="ai-nurse-c6346"
VITE_FIREBASE_STORAGE_BUCKET="ai-nurse-c6346.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1022688688747"
VITE_FIREBASE_APP_ID="1:1022688688747:web:a57b7e36b1731c65d78f2e"
